.fixed.inset-0.transition-opacity.bg-secondary-400.bg-opacity-60.sm\:hidden.pointer-events-auto.dark\:bg-secondary-700.dark\:bg-opacity-60 {
    position: relative !important;
}

/* .fixed.inset-0.z-20.flex.sm\:w-full.sm\:justify-end.items-end.sm\:z-10.sm\:absolute.sm\:inset-auto.pointer-events-none.transition-all.ease-linear.duration-150.sm\:top-0.sm\:right-0 {
    position: relative !important;
} */

body{
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
}
